.wrapper {
}

.body {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  background: linear-gradient(
    180deg,
    var(--surface-primary-from) 0%,
    var(--surface-primary-to) 25%,
    var(--surface-primary-to) 75%,
    var(--surface-primary-from) 100%
  );
}

.container {
  margin: 0 auto;
  width: 940px;
  padding-bottom: 64px;
}
