.navbar {
  margin-bottom: 36px;
  background-image: linear-gradient(
    to bottom,
    rgba(89, 85, 83, 0.349) 0%,
    rgba(110, 106, 105, 0.431) 100%
  );
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBarSearchBlock {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
