:root {
  --surface-primary-from: #3b3938;
  --surface-primary-to: #101010;
  --surface-secondary: #101010;
  --surface-overlay: ;

  --text-primary: #fff;
  --text-secondary: #dfdfdf;

  --button-primary-from: ;
  --button-primary-to: ;

  --button-secondary-from: #00c880;
  --button-secondary-to: rgba(76, 183, 119, 0.3);
}
